<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Todo List: Vue.js Example</title>
<style>
li, .mb { margin-bottom: 10px; }
.completed { text-decoration: line-through; }
</style>
</head>
<body>
<div id="app">
  <ul>
    <todo-item v-for="(todo, key) in todos" :todo="todo" :index="key" :filter="filter" @removeTodo="deletetodo(key)"></todo-item>
  </ul>
  <div class="mb">
    <input type="text" v-model="newTodoText" v-on:keyup.enter="addTodo" placeholder="Add a new todo" />
  </div>
  <div>
    <button v-on:click="showAll">show all</button>
    <button v-on:click="showCompleted">show completed items</button>
  </div>
</div>
<script src="lib/vue.js"></script>
<script src="script.js"></script>
</body>
</html>